.context-menu {
    -fx-background-color: black;
}

.context-menu .label {
	-fx-text-fill: white;
}


.JFXLibrary .strong  {
	-fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , white , 5, 0.0 , 0 , 1 );
}

.mtg-pane {
	-fx-background-color: black;
	-fx-effect: innershadow( gaussian , black , 30,0.4,0,0 );
}

.logsTextFlow {
	
	-fx-effect: innershadow( gaussian , black , 30,0,0,0 );
}

.logLocal {
	-fx-fill:red;
}

.logOpponent {
	-fx-fill:blue;
}

.logPlayer {
	-fx-font-weight:bold;
	-fx-font-size:15px;
}

.logEvent {
	-fx-font-size:10px;
}

.localPlayer .viewport {
	
	-fx-background-image:url("/images/mtg/backgrounds/battlefield_background_1.jpg");
}

.JFXSelectedCardInfoPane .mtg-text {
	
	-fx-fill: white;
	-fx-font-size:16px;
}


.JFXLibrary .label  {
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	-fx-text-fill: white;
}

.JFXLibrary .mtg-text {
	
	-fx-fill: white;
	-fx-font-size:16px;
}

.JFXLibrary .text {
	
	-fx-fill: white;
	-fx-font-size:16px;
}

.strong{
	-fx-font-size: 18px;
    -fx-font-weight: bold;
}

.light{
	-fx-font-size: 14px;
    -fx-font-style: italic;
}

.type {
    -fx-font-style: italic;
}

.opponentPlayer .viewport {
	
	-fx-background-image:url("/images/mtg/backgrounds/battlefield_background_2.jpg");
}

.JFXHand {
	-fx-fill:black;
}

.JFXCardView {
	
	-fx-text-fill: black;
	-fx-fill: black;
	-fx-effect: dropshadow( one-pass-box, white, 10, 0.6, 0, 0);
}

 .JFXGameEventLogger .viewport {
	
	-fx-effect: innershadow( gaussian , black , 30,0.4,0,0 );
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button { 
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 10;
    -fx-border-radius: 10, 10;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 10, 10;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}